@model List<ArticleDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Makele Yönetimi /</span> Makaleler</h4>
</div>

<div class="card">
    <h5 class="card-header">Table Basic</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-bordered" id="articlesTable" width="100%" cellpadding="0">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>Kategori</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Oluşturan</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Başlık</th>
                    <th>Kategori</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Oluşturan</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                </tr>
            </tfoot>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr name="@item.Id">
                        <th>@item.Title</th>
                        <th>@item.Category.Name</th>
                        <th>@item.CreatedDate.ToShortDateString()</th>
                        <th>@item.CreatedBy</th>
                        <th>@(item.IsDeleted ? "Silinmiş":"Aktif")</th>
                        <th></th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/articleIndex.js"></script>
}